.footer-nav{
      background-image: url("../images/footer-bg.jpg");
      position: relative;
      background-size: cover;
      overflow: hidden;

      .container{
            display: flex;
            padding: 48px;
                  
      }


}