.top-nav{
      display: flex;
      justify-content: center;
      .nav-container{
            display: flex;
            width: 1280px;
            justify-content: space-between;
            align-items: center;
            padding: 12px;

            .img-container{
                  width: 72px;
                  img{
                       width: 100%;
                  }
            }
            .menu-container{
                  
                  ul {
                        list-style: none;
                        display: flex;
                        li {
                              font-size: 12px;
                              font-weight: bold;
                              padding: 0 12px;
                              a {
                                    text-decoration: none;
                                    color: $text-dark-gray;
                                    &:hover {
                                          text-decoration: underline;
                                          color: $dc-color-blu;
                                    }
                                    
                              }
                        }
                  }



            }


      }
      









}