.top-nav{
      display: flex;
      justify-content: center;
      .nav-container{
            display: flex;
            width: 1280px;
            justify-content: space-betwen;
            .img-container{
                  width: 72px;
                  img{
                       width: 100%;
                  }
            }

      }
      









}